<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
{% extends "base.html" %}
{% load static %}
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<body background="{% static '' %}">
{% block content %}
<!--{% if user.is_authenticated %}-->
<!--  Hi {{ user.username }}!-->
<!--{% else %}-->
<!--  <p>You are not logged in</p>-->
<!--  <a href="{% url 'login' %}">login</a>-->
<!--{% endif %}-->
<form action="{% url 'user_register' %}" method="post" id="upload">
  {% csrf_token %}

<div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Register</div>
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}

                        <div class="form-group clearfix">
                            <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right">First Name<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right">Last Name<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email Address</label>
                            <div class="col-md-6">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password</label>
                            <div class="col-md-6">
                                {{ form.password }}
                            </div>
                        </div>

                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit" value="Register" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
<!--        </div>-->

<!--    <a href="{% url 'audio' %}"><input type="submit" id="video-connect" value="Connect with video" /></a><br>-->
<!--    <a href="{% url 'audio-video' %}"><input type="submit" id="audio-video-connect" value="Connect with audio-video" /></a><br><br>-->
<!--    <input type="submit" value="Submit" />-->


</form>

<!--<script type="text/javascript">-->
<!--$('#audio-connect').click(function(event){-->
<!--         event.preventDefault(); //so that we stop normal form submit.-->
<!--         var name = $(this).attr("name");-->
<!--         var email = $(this).attr("email");-->
<!--         $.ajax(-->
<!--             url:"{% url 'home' %}",-->
<!--             type: 'POST',-->
<!--             dataType: 'json',-->
<!--             data: {-->
<!--             "name":name,-->
<!--             "email":email-->
<!--             },-->
<!--             success: function(data) {-->
<!--               doStuffWithDataHere(data);-->
<!--             }-->
<!--         );-->
<!--    });-->
<!--</script>-->

<script type="text/javascript">
var savebutton;
function initAll(){
    savebutton=document.getElementById('audio-connect')
    savebutton.onclick=savedata;
    console.log('*****************')
}
function savedata(){
<!--alert('hello')-->
 console.log('*****************')
var name = document.getElementById('name').value;
var email = document.getElementById('email').value;
var url='/home?name='+name+'&email='+email;
var req = new XMLHttpRequest();
  req.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

    }
  };
  req.open("GET", url, true);
  req.send();

}
</script>
{% endblock content %}
</body>

</html>