{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="join-flow-widget conference-join conference-join--call">
    <div class="app-logo">

<h1 class="conference-join__title">
<span>Join a conference</span></h1> <form class="conference-join__form">
<label for="join-room-name-entry" class="conference-join__label">
    <span>To join, enter the conference name</span></label> <div class="conference-join__input-group">
    <input type="text" id="join-room-name-entry" class="conference-join__input">
    <div class="conference-join__input-url">

        </div> <input type="submit" ,value="Join">

    </div> </form></div></div>

{% endblock content %}